################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/ForumAPI/ForumAPI/appsettings.Development.json
.env