<div class="post-stream">
  @if (isLoading()) {
  <div class="loading-message">Loading posts...</div>
  } @else if (displayPosts() === null || displayPosts()?.length === 0) {
  <div class="empty-message">No posts yet</div>
  } @else {
  @for (post of displayPosts(); track post.postId) {
  <!-- <div class="post-item">
    <app-post-preview [userId]="post.userId" [userIcon]="post.userIcon" [username]="post.username"
      [postId]="post.postId" [title]="post.title" [date]="post.date" [body]="post.body" [category]="post.category"
      [images]="post.images" [likeNo]="post.likeNo" [commentNo]="post.commentNo" />
  </div> -->
  }
  }
</div>